{
  "extends": "stylelint-config-standard-scss",
  "plugins": ["stylelint-order"],
  "rules": {
    "order/properties-alphabetical-order": true,
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "scss/at-extend-no-missing-placeholder": null,
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["ng-deep"]
      }
    ]
  },
  "ignoreFiles": ["src/styles/_theme-colors.scss"]
}
